@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Audiowide', cursive;
    position: relative;
    min-height: 100%;
  }

  body {
    background-color: #242424;
  }
}